.content{
	background: linear-gradient(#e66465, #9198e5);
	height: 100vh;
	text-align: center;
}
.content .debora{
	height: 450px;
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%,-50%);
	border: 10px solid #fff;
	box-shadow: 2px 2px 5px #000;
	z-index: 1;
}
.content .wishing{
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translate(-50%,-50%);
	z-index: 2;
}
.kvitu-one{
	position: absolute;
	top: 60%;
	left: -25px;
	transform: translate(-50%,-50%);
	z-index: 3;
}
